html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: #2196F3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
  .navbar label {
    line-height: 60px;
    font-size: 1.5em;
    color: #fff;
    height: 100%;
    display: inline-block;
    margin-left: 20px;
  }
  .navbar i {
    line-height: 60px;
    height: 100%;
    cursor: pointer;
    float: right;
    color: #fff;
    margin-right: 20px;
  }

#canvas_3d {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: aliceblue;
}

#canvas_2d {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url(../images/cursors/F44336.png) 6 40, auto;
}

#options {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  #options img {
    width: 100px;
    height: auto;
  }

.colors-option {
  display: none;
  position: fixed;
  right: 0;
  width: 200px;
  height: 300px;
  top: 30px;
  right: 30px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
  overflow-y: scroll;
}
  .colors-option label {
    display: block;
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #616161;
    font-size: 0.85em;
    border-bottom: 1px solid #ececec;
  }
  .color {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 2px;
    display: inline-block;
    border: 2px solid white;
    cursor: pointer;
  }

.red {background-color: #F44336}
.pink {background-color: #E91E63}
.purple {background-color: #9C27B0}
.deeppurple {background-color: #673AB7}
.indigo {background-color: #3F51B5}
.blue {background-color: #2196F3}
.lightblue {background-color: #03A9F4}
.cyan {background-color: #00BCD4}
.teal {background-color: #009688}
.green {background-color: #4CAF50}
.lightgreen {background-color: #8BC34A}
.lime {background-color: #CDDC39}
.yellow {background-color: #FFEB3B}
.amber {background-color: #FFC107}
.orange {background-color: #FF9800}
.deeporange {background-color: #FF5722}
.brown {background-color: #795548}
.gray {background-color: #9E9E9E}
.black {background-color: #000000}
.white {
  background-color: #ffffff;
  border: 1px solid #000;
}

.lightning-options {
  display: none;
  position: fixed;
  right: 0;
  top: 30px;
  right: 60px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
}
  .lightning-options img {
    width: 70px;
    display: inline-block;
    cursor: pointer;
  }

.textures-options {
  display: none;
  position: fixed;
  right: 0;
  top: 30px;
  right: 120px;
  padding: 10px;
  width: 200px;
  height: 300px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
  overflow-y: scroll;
}
  .textures-options label {
    display: block;
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #616161;
    font-size: 0.85em;
    border-bottom: 1px solid #ececec;
  }
  .textures-options img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 2px;
    border: 2px solid white;
    cursor: pointer;
  }
  .textures-options img:hover {
    border: 2px solid #aaaaaa;
  }


.instructions {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}
.dialog {
  width: 700px;
  height: 400px;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  font-family: 'arial';
  text-align: center;
}
  .dialog p {
    margin-top: 10px;
  }
  .dialog img {
    margin-top: 20px;
  }
  .dialog ul {
    list-style-type: none;
    padding: 0 0 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
    .dialog ul li {
      display: inline-block;
      width: 30%;
    }

.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #FF4081;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
  .fab i {
    font-size: 1.5em;
    color: #fff;
    line-height: 70px;
  }
  .pencil-cursor { display: none; }

body img, body span {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 2px;
  border: none;
  cursor: pointer;
  z-index: 150;
}
