html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: #0097A7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
  .navbar label {
    line-height: 60px;
    font-size: 1.5em;
    color: #fff;
    height: 100%;
    margin-left: 20px;
    display: inline-block;
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    .navbar label {
      font-size: 1em;
    }
  }
  .navbar i {
    line-height: 60px;
    height: 100%;
    cursor: pointer;
    float: right;
    padding: 0 15px;
  }
  .navbar i:hover {
    background-color: #00838F;
  }

#canvas_3d {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: aliceblue;
}

#canvas_2d {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url(../images/cursors/F44336.png) 6 40, auto;
}

#options {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  #options img {
    width: 100px;
    height: auto;
  }

.colors-option {
  display: none;
  position: fixed;
  right: 0;
  width: 200px;
  height: 300px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
  overflow-y: scroll;
}
  .colors-option label {
    display: block;
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #616161;
    font-size: 0.85em;
    border-bottom: 1px solid #ececec;
  }
  .colors {
    color: #F44336;
  }
  .color {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 2px;
    display: inline-block;
    border: 2px solid white;
    cursor: pointer;
  }

.red {background-color: #F44336}
.pink {background-color: #E91E63}
.purple {background-color: #9C27B0}
.deeppurple {background-color: #673AB7}
.indigo {background-color: #3F51B5}
.blue {background-color: #2196F3}
.lightblue {background-color: #03A9F4}
.cyan {background-color: #00BCD4}
.teal {background-color: #009688}
.green {background-color: #4CAF50}
.lightgreen {background-color: #8BC34A}
.lime {background-color: #CDDC39}
.yellow {background-color: #FFEB3B}
.amber {background-color: #FFC107}
.orange {background-color: #FF9800}
.deeporange {background-color: #FF5722}
.brown {background-color: #795548}
.gray {background-color: #9E9E9E}
.black {background-color: #000000}
.white {
  background-color: #ffffff;
  border: 1px solid #000;
}

.lightning-option {
  display: none;
  position: fixed;
  right: 0;
  width: auto;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
}
  .lightning-option img {
    width: 70px;
    display: inline-block;
    cursor: pointer;
  }
  .lightning {
    color: white;
  }

.textures-option {
  display: none;
  position: fixed;
  right: 0;
  padding: 10px;
  width: 200px;
  height: 300px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
  overflow-y: scroll;
}
  .textures-option label {
    display: block;
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #616161;
    font-size: 0.85em;
    border-bottom: 1px solid #ececec;
  }
  .textures-option img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 2px;
    border: 2px solid white;
    cursor: pointer;
  }
  .textures-option img:hover {
    border: 2px solid #aaaaaa;
  }
  .textures {
    color: white;
  }


.instructions-option {
  display: none;
  position: fixed;
  right: 0;
  padding: 10px 10px 20px 10px;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  z-index: 100;
  overflow-y: scroll;
}
  .instructions-option h4 {
    margin-bottom: 0;
  }
  .instructions-option p {
    font-size: 0.8em;
    text-align: left;
  }
  .instructions-option label {
    display: block;
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #616161;
    font-size: 0.85em;
    border-bottom: 1px solid #ececec;
  }
  .instructions-option ul li {
    text-align: left;
    font-size: 0.8em;
  }
  .instructions {
    color: white;
  }


.download-upload-option {
  display: none;
  position: fixed;
  height: auto;
  width: auto;
  z-index: 100;
  background: #fff;
  border-radius: 5px;
}
  .download-upload-option label {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  .download-upload-option label:hover {
    background-color: #ececec;
  }
  .download-upload {
    color: white;
  }



.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #FF4081;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
  .fab i {
    font-size: 1.5em;
    color: #fff;
    line-height: 70px;
  }
  .pencil-cursor { display: none; }

body img, body span {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 2px;
  border: none;
  cursor: pointer;
  z-index: 150;
}

#upload-form {
  display: none;
}
  #upload-form div {
    z-index: 100;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  #upload-form input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  #upload-form label {
    width: 600px;
    height: 400px;
    background: #E0F7FA;
    text-align: center;
    line-height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -300px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #9E9E9E;
    z-index: 100;
  }
  #upload-form label:hover {
    border: 2px dashed #9E9E9E;
  }
    #upload-form label i {
      font-size: 3em;
      margin-right: 20px;
      vertical-align: middle;
    }
